<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'leave/assets/images/basic3-154-infinity-512x512.png' %}" type="image/x-icon">
  <meta name="description" content="Web Page Creator Description">
  <title>about</title>
  <link rel="stylesheet" href="{% static 'leave/assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/theme/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="{% static 'leave/assets/fonts/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'leave/assets/mobirise/css/mbr-additional.css' %}" type="text/css">



</head>
<body>
<section class="menu cid-qtm9HUX9Jb" once="menu" id="menu1-22" data-rv-view="274">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="#">
                         <img src="{% static 'leave/assets/images/basic3-154-infinity-512x512.png' %}" alt="Logo" title="" media-simple="true" style="height: 4.3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="#"></a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="#"></a></li><li class="nav-item">
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="/home/login"><span class="mbri-login mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Login&nbsp;</a></li></ul>

        </div>
    </nav>
</section>

<section class="engine"><a href="#"></a></section><section class="header11 cid-qtrxezCA16 mbr-fullscreen" id="header11-24" data-rv-view="261">

    <!-- Block parameters controls (Blue "Gear" panel) -->

    <!-- End block parameters -->


    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">

            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1"><strong>IIITDMJ</strong><strong><br></strong>Leave Module.</h1>
            <p class="mbr-text py-3 mbr-fonts-style display-5">
                This web application lets the employees (Faculty and Staff) of the Indian Institute of Information Technology Design and Manufacturing to keep track of their remaining Leaves in the current academic year and submit their leave applications.&nbsp;</p>
                <p><i style = "font-size: 25px">Developed under the guidance of Dr. Atul Gupta.</i></p>
            <div class="mbr-section-btn py-4"><a class="btn btn-md btn-white-outline display-4" href="#features16-25"><span class="mbri-arrow-down mbr-iconfont mbr-iconfont-btn"></span>Developed By&nbsp;</a></div>
        </div>
    </div>


</section>

<section class="features16 cid-qtrBUz8PwL" id="features16-25" data-rv-view="264">



    <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
            OUR AWESOME TEAM
        </h2>

        <div class="row media-row">

        <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{% static 'leave/assets/images/arpit.jpg' %}" media-simple="true">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Arpit Jain</p>
                    </div>
                    <div class="item-role px-2">
                        <p></p>
                    </div>

                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{% static 'leave/assets/images/gautam.jpg' %}" media-simple="true">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Gautam Yadav</p>
                    </div>
                    <div class="item-role px-2">
                        <p></p>
                    </div>

                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{% static 'leave/assets/images/anuj.jpg' %}" alt="" title="" media-simple="true">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Anuj Srivastava</p>
                    </div>
                    <div class="item-role px-2">
                        <p></p>
                    </div>

                </div>
            </div></div>
    </div>
</section>

<section once="" class="cid-qtmfWV5aem" id="footer6-23" data-rv-view="276" style="position: relative; width: 100%; bottom:0">





    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 - IIITDMJ&nbsp;</p>
            </div>
        </div>
    </div>
</section>


  <script src="{% static 'leave/assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'leave/assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'leave/assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'leave/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'leave/assets/smooth-scroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'leave/assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'leave/assets/touch-swipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'leave/assets/theme/js/script.js' %}"></script>


</body>
</html>
