<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'leave/assets/images/basic3-154-infinity-512x512.png' %}" type="image/x-icon">
  <meta name="description" content="">
  <title>confirmsanction</title>
  <link rel="stylesheet" href="{% static 'leave/assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/theme/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="{% static 'leave/assets/fonts/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'leave/assets/mobirise/css/mbr-additional.css' %}" type="text/css">



</head>
<body>
<section class="menu cid-qtm9HUX9Jb" once="menu" id="menu1-2v" data-rv-view="411">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="#">
                         <img src="{% static 'leave/assets/images/basic3-154-infinity-1092x1007.png' %}" alt="" title="" media-simple="true" style="height: 4.3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="#"></a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="#"></a></li><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/home/">&nbsp;Dashboard</a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="#"><span class="socicon socicon-ello mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>
                        {{username}}</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="/home/loggedout/">{% csrf_token %}<span class="mbri-login mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Logout&nbsp;</a></li></ul>

        </div>
    </nav>
</section>

<section class="header5 cid-qtPH677hvn mbr-fullscreen" id="header5-2x" data-rv-view="408">




    <div class="container">
        <div class="row justify-content-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">
                    Do you want to confirm?<br><br></h1>

                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-secondary display-4" href="/home/">GO BACK</a>
                        <a class="btn btn-md btn-white-outline display-4" href="/home/confirmapplication/">YES</a></div>
            </div>
        </div>
    </div>


</section>

<section once="" class="cid-qtmfWV5aem" id="footer6-2w" data-rv-view="413" style="position: relative; width: 100%; bottom:0">





    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 - IIITDMJ&nbsp;</p>
            </div>
        </div>
    </div>
</section>


  <script src="{% static 'leave/assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'leave/assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'leave/assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'leave/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'leave/assets/smooth-scroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'leave/assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'leave/assets/touch-swipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'leave/assets/theme/js/script.js' %}"></script>


</body>
</html>
