<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'leave/assets/images/basic3-154-infinity-512x512.png' %}" type="image/x-icon">
  <meta name="description" content="">
  <title>sanction</title>
  <link rel="stylesheet" href="{% static 'leave/assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/data-tables/data-tables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'leave/assets/theme/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="{% static 'leave/assets/fonts/style.css' %}" rel="stylesheet">
  <link href="{% static 'leave/assets/mobirise/css/mbr-additional.css' %}" rel="stylesheet">


</head>
<body>
<section class="menu cid-qtm9HUX9Jb" once="menu" id="menu1-17" data-rv-view="187">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="#">
                         <img src="{% static 'leave/assets/images/basic3-154-infinity-512x512.png' %}" alt="" title="" media-simple="true" style="height: 4.3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="#"></a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="#"></a></li><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/home/">&nbsp;Dashboard</a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="#"><span class="socicon socicon-ello mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>
                        {{username}}</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="/home/loggedout/">{% csrf_token %}<span class="mbri-login mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span>Logout&nbsp;</a></li></ul>

        </div>
    </nav>
</section>

<section class="header11 cid-qtmzeZLxc3" id="header11-19" data-rv-view="116">

    <!-- Block parameters controls (Blue "Gear" panel) -->

    <!-- End block parameters -->


    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">

            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1">Sanction Leaves.
            </h1>


        </div>
    </div>


</section>



<section class="row-section" style="background:#fff">

<style>
.row-section h2{float:left; width:100%; color:#fff; margin-bottom:30px; font-size: 14px;}
.row-section h2 span{font-family: 'Kumar One', cursive; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px;}
.row-section h2 a{color:#fff;}
.row-section .row-block{background:#fff; padding:20px; margin-bottom:0px;}
.row-section .row-block ul{margin:0; padding:0;}
.row-section .row-block ul li{list-style:none; margin-bottom:20px;}
.row-section .row-block ul li:last-child{margin-bottom:0;}
.row-section .row-block ul li:hover{cursor:grabbing;}
.row-section .row-block .media{border:0px solid #635a51; padding:5px 20px; border-radius: 5px; box-shadow:2px 6px 6px rgba(30,30,30,0.4); background:#635a51;}
.row-section .media .media-left img{width:75px;}
.row-section .media .media-body p{padding: 0 15px; font-size:14px; color: #fff}
.row-section .media .media-body h4 {color: #fff; font-size: 18px; font-weight: 600; margin-bottom: 0; padding-left: 14px; margin-top:12px;}
.btn-default{background:#635a51; color:#fff; border-radius:30px; border:2px solid #fff; font-size:16px;}
</style>
{% for profile in profiles %}
  {% for leave in leaves %}
  {% if profile.user_id == leave.applicant_id %}
    <div class="container">
	    <div class="col-md-10 offset-md-1 row-block">
	        <ul id="sortable">
	            <li><div class="media">
	            <div class="media-body">
	                <h4>{{profile.name}} , {{profile.section}}</h4>
	                <p>Start Date: {{leave.start_date}}
                    <br>
                    End Date:  {{leave.end_date}}
                    <br>
                    Leave Type : {{leave.leavetype}}
                    <br>
                    {% if leave.station_leave == 1 %}
                    Station Leave : {{"yes"}}
                    {% else %}
                    Station Leave : {{"no"}}
                    {% endif %}
                  </p>
	            </div>
	            <div class="media-right align-self-center">
                <form class="form-horizontal" action="/home/approveleave/" method="post">
                  {% csrf_token %}
                  <button id="submitleave" name="submitleave" type="submit" class="btn btn-default" value="{{leave.id}}">View Details</button>
                  </form>
              </div>
	        </div></li>
	        </ul>
	    </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
</section>
<div class="row"><br><br><br></div>
<section once="" class="cid-qtmfWV5aem" id="footer6-18" data-rv-view="189" style="position: absolute; width: 100%; bottom:0">

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 - IIITDMJ&nbsp;</p>
            </div>
        </div>
    </div>
</section>


  <script src="{% static 'leave/assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'leave/assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'leave/assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'leave/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'leave/assets/smooth-scroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'leave/assets/data-tables/jquery.data-tables.min.js' %}"></script>
  <script src="{% static 'leave/assets/data-tables/data-tables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'leave/assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'leave/assets/touch-swipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'leave/assets/viewport-checker/jquery.viewportchecker.js' %}"></script>
  <script src="{% static 'leave/assets/theme/js/script.js' %}"></script>


</body>
</html>
